
CatDesign/components/__pycache__/box.cpython-310.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/CatDesign.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
CatDesign/components/__pycache__/card.cpython-310.pyc
CatDesign/components/__pycache__/divider.cpython-310.pyc
CatDesign/components/__pycache__/status.cpython-310.pyc
CatDesign/components/__pycache__/typography.cpython-310.pyc
CatDesign/styles/__pycache__/colors.cpython-310.pyc
CatDesign/styles/__pycache__/fonts.cpython-310.pyc
